/* for the input tab */
.container {
    float: left;
    margin: 5px;
    padding: 5px;
}

.container select {
    width: 95%;
}

.container textarea {
    width: 240px;
    height: 140px
}

.container sup {
  font-size: 50%;
}

/* for the modal dialog version */
.containerm {
    float: left;
    margin: 1px;
    padding: 1px;
}

.containerm select {
    width: 95%;
}

.containerm textarea {
    width: 95%;
}

.containerm sup {
  font-size: 50%;
}

.halfdiv {
    float: left;
    margin: 5px;
    padding: 5px;
    min-width: 45%;
}

.halfdiv sup {
  font-size: 50%;
}

.foss_table {
    clear: both;
}

.commit_table {
    clear: both;
}

.foss_table textarea {
    width: 130px;
    height: 40px;
}

.foss_table input {
    width: 98%;
}

.titlem {
    color: #84b8d9;
    font-weight: bold;
}

/* overflow:auto is also an option here, but not fully supported in browsers */ 
.foss_table table {
    table-layout: fixed;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}

.foss_table td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.cfooter {
    clear: both;
    margin: 20px;
    padding: 5px;
}

.browser {
    float: left;
    width: 220px;
    height: 300px;
    border-top: solid 1px #BBB;
    border-left: solid 1px #BBB;
    border-bottom: solid 1px #FFF;
    border-right: solid 1px #FFF;
    background: #FFF;
    overflow: scroll;
    padding: 5px;
}			

.executor {
    width: 600px;
    height: 300px;
    border-top: solid 1px #BBB;
    border-left: solid 1px #BBB;
    border-bottom: solid 1px #FFF;
    border-right: solid 1px #FFF;
    background: #FFF;
    overflow: scroll;
    padding: 5px;
}			
/* for the edit_line async upload progress */
.progressor {
    width: 650px;
    height: 30px;
    overflow: auto;
    padding: 5px;
}			
/* for the input tab async upload progress */
.lprogressor {
    float: left;
    width: 450px;
    height: 250px;
    overflow: auto;
    padding: 5px;
}
