{% extends "barcode/base.html" %}
{% block header %}
    <style type="text/css">@import "/site_media/css/containers.css";</style>
</head>
{% endblock %}

{% block content %}

{% if error_message %}
  <p><b>No barcode result, or error message from cli was:</b></p>
  <pre>
  {{ error_message }}
  </pre>
{% else %}
  <div id="print">
  <br>
  <table width = "100%" border = "1">
    <tr>
      <td rowspan = "3" width = "30%">
        <b>Company Name: </b>{{ record.company }}<br>
        <b>FOSS Website: </b><a href="{{ record.website }}" target="_blank">{{ record.website }}</a><br>
        <b>Product Name: </b>{{ record.product }}<br>
        <b>Product Version/Release: </b>{{ record.version }}-{{ record.release }}<br>
        <b>Date: </b>{{ record.record_date|date:"M d, Y H:i:s" }}&nbsp;&nbsp;<b>User: </b>{{ record.user }}<br>
      </td>
      <td align = "center" id = "noprint">
        <input type="button" name="doprint" value="Print Results" onClick="javascript:window.print()">
      </td>
    </tr>    
    <tr>
      <td align = "center">
        <img src="/site_media/user_data/{{ record.id }}/{{ record.checksum }}.png"><br>
        <a href="/site_media/user_data/{{ record.id }}/{{ record.checksum }}.ps">Download Postscript</a>
      </td>
    </tr>
    <tr>
      <td align = "center"><b>Checksum: </b> {{ record.checksum }}</td>
    </tr>
  </table>
  <div class="halfdiv">
    <table border = "1" width = "100%">
      <tr><th colspan = "5">FOSS Components/Patches</th></tr>
      <tr>
        <th>Component</th>
        <th>Version</th>
        <th>License</th>
        <th>Download URL</th>
        <th>Patch(es)</th>
      </tr>
      {% for row in foss %}
      <tr valign = "top">
        <td>{{ row.component }}</td>
        <td>{{ row.version }}</td>
        <td>{{ row.license }}</td>
        <td><a href="{{ row.url }}" target="_blank">{{ row.url }}</a></td>
        {% autoescape off %}
        <td>{{ row.patches }}</td>
        {% endautoescape %}
      </tr>
    {% endfor %}
    </table>
  </div>
  <div class="halfdiv">
    <table border = "1" width = "100%">
      <tr><th>SPDX File(s)</th></tr>
      {% for row in spdx %}
      <tr valign = "top">
        <td><a href="/site_media/user_data/{{ record.id }}/spdx_files/{{ row.local_path }}">{{ row.path }}</a></td>
      </tr>
    {% endfor %}
    </table>
  </div>
  </div>
{% endif %}

{% endblock %}
