{% extends "barcode/base.html" %}
{% block header %}
  <style type="text/css">@import "/site_media/css/containers.css";</style>
  <!-- CSS file for modal dialog -->
  <style type="text/css" media="screen">@import "/site_media/css/barcode-modals.css";</style>
  <!-- used for modal dialog -->
  <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
  <script type='text/javascript' src='/site_media/js/jquery.simplemodal.1.4.1.min.js'></script>
  <script type='text/javascript' src='/site_media/js/barcode-modals.js'></script>
  <script type='text/javascript' src='/site_media/js/history.js'></script>
  <script type="text/javascript" src="/site_media/js/record-check.js"></script>
  <!-- for the file browser -->
  <style type="text/css" media="screen">@import "/site_media/css/jqueryFileTree.css";</style>
  <script type="text/javascript" src="/site_media/js/jqueryFileTree.js"></script>
  <script type="text/javascript" src="/site_media/js/file-select-ops.js"></script>
  <script type="text/javascript" src="/site_media/js/visibility.js"></script>
  <script type="text/javascript" src="/site_media/js/component-select.js"></script>
</head>
{% endblock %}

{% block content %}

<div id="title">&nbsp;{% include "barcode/noscript.html" %}</div>

{% if error_message %}
    {% autoescape off %}
    <span class="red"><b>{{ error_message }}</b></span>
    {% endautoescape %}
{% endif %}

{% if enable_edits %}
  <div id="print">
  <br>
  <table width = "100%" border = "1">
    <tr>
      <td rowspan = "3" width = "40%">
        <span id="noprint">
          &nbsp;&nbsp;
          {% if not revision and not public_facing and not record.released %}
          <span id="header-modal">    
            <a href="#" name="edit_header" class="basic"><img src="/site_media/images/filetree/edit.png" title="Edit Record Header"></a>
          </span>
          <span id="header-modal">    
            <a href="#" name="clone_record" class="basic"><img src="/site_media/images/edit-copy.png" title="Clone Record"></a>
          </span>
          {% endif %}
          <span id="history-modal" float="left">
            <a href="#" name="history1" id="{{ record.id }}" class="basic"><img src="/site_media/images/filetree/code.png" title="Change History"></a>
          </span>
          {% if not revision and not public_facing and record.released %}
          <span id="unrelease-modal">    
            <a href="#" name="unlock_record" class="basic"><img src="/site_media/images/unlock.png" title="Unlock/Unrelease Record for Edits"></a>
          </span>
          {% endif %}
        </span>
        <b>{{ headerform.company.label }}: </b>{{ record.company }}<br>
        <b>{{ headerform.website.label }}: </b><a href="{{ record.website }}" target="_blank">{{ record.website }}</a><br>
        <b>{{ headerform.product.label }}: </b>{{ record.product }}<br>
        <b>Product Version/Release: </b>{{ record.version }}-{{ record.release }}<br>
        <b>Last Updated: </b>{% if not revision %}{{ record.record_date|date:"M d, Y H:i:s" }}{% else %}<i>**HISTORICAL RECORD**</i>{% endif %}<br>
        <b>Compliance Contact Name: </b>{{ record.contact }}<br>
        <b>{{ headerform.email.label }}: </b><a href="mailto:{{ record.email }}" target="_blank">{{ record.email }}</a><br>
        <b>{% autoescape off %}{{ headerform.spdx_file.label }}{% endautoescape %}: </b><a href="/site_media/user_data/{{ record.id }}/spdx_files/{{ record.spdx_file }}">{{ record.spdx_file }}</a><br>
        <b>{{ headerform.released.label }}: </b>{{ record.released }}<br>
{% if revision %}
	<p><i>This is a historic record, showing the state of the record as it existed in revision {{ revision }}.</i></p>
{% endif %}        
      </td>
      <td align = "center" id = "noprint">
        <input type="button" name="doprint" value="Print BoM Compliance Record" onClick="javascript:window.print()">
      </td>
    </tr>    
    <tr>
      <td align = "center">
        <img src="/site_media/user_data/{{ record.id }}/{{ record.checksum }}-{{ display_code }}.png?time={{ reload_trigger }}"><br>
        <span id="noprint">
        <a href="/site_media/user_data/{{ record.id }}/{{ record.checksum }}-{{ display_code }}.ps">Download Postscript</a>
        </span>
      </td>
    </tr>
    <tr>
      <td align = "center"><b>Checksum/Site Reference: </b><a href="{{ host_site }}{{ record.checksum }}" target="_blank">{{ record.checksum }}</a></td>
    </tr>
  </table>
  <table border = "1" width = "100%">
    <tr><th colspan = "10">FOSS Bill of Material for {{record.product }}-{{ record.version }}-{{ record.release }}</th></tr>
    <tr>
      <td align="center" width="45">
        <span id="noprint">
        {% if not revision and not public_facing and not record.released %}
        <div id="line-item-modal">    
          <a href="#" class="basic" name="line_item_add" id="{{ foss|length }}"><img src="/site_media/images/list-add.png" title="Add Line Item"></a>
        </div>
        {% endif %}
        </span>
      </td>
      <th>Component</th>
      <th>Version</th>
      <th>Copyright<br>Information</th>
      <th>Attribution<br>Notices</th>
      <th>License<br>Name and Version</th>
      <th>SPDX<sup>TM</sup><br>File</th>
      <th>Patch(es)</th>
    </tr>
    {% for row in foss %}
    <tr valign = "top">   
      <td align="center" width="45">
      <span id="noprint">
        {% if not revision and not public_facing and not record.released %}
        <span id="line-item-modal">
            <a href="#" class="basic" name="line_item{{ forloop.counter }}" id="{{ row.id }}"><img src="/site_media/images/filetree/edit.png" title="Edit Line Item"></a>
        </span>
        <span id="line-delete-modal">
            <a href="#" class="basic" name="line_item{{ forloop.counter }}" id="{{ row.id }}"><img src="/site_media/images/edit-delete.png" title="Delete Line Item"></a>
        </span>
        {% endif %}
      </span>     
      </td>
      <td id="foss_component{{ forloop.counter }}"><a href="{{ row.url }}" target="_blank">{{ row.component }}</a></td>
      <td id="foss_version{{ forloop.counter }}">{{ row.version }}</td>
      <td id="foss_copyright{{ forloop.counter }}">{{ row.copyright }}</td>
      <td id="foss_attribution{{ forloop.counter }}">{{ row.attribution }}</td>
      <td id="foss_license{{ forloop.counter }}"><a href="{{ row.license_url }}" target="_blank">{{ row.license }}</a></td>
      {% autoescape off %}
      <td id="foss_spdx{{ forloop.counter }}">{{ row.spdx_file }}</td>
      <td id="foss_patches{{ forloop.counter }}">{{ row.patches }}</td>
      {% endautoescape %}
    </tr>
  {% endfor %}
  </table>
  </div>
  <div id="noprint">
  <!-- this is the modal popup content for editing the header data -->
  {% include "barcode/edit_header.html" %}
  <!-- this is the modal popup content for viewing the history data -->
  {% include "barcode/history.html" %}
  <!-- this is the modal popup content for editing/adding the line item data -->
  {% include "barcode/edit_line.html" %}
  </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script language="JavaScript">
    // this gets used by component-select.js
    {% if cached_components %}
    var ccache = {% autoescape off %}{{ cached_components }}{% endautoescape %};
    {% endif %}

    var header_fields = { "company": "",
                          "website": "",
                          "product": "",
                          "version": "",
                          "release": "",
                          "contact": "",
                          "email": "",
                          "spdx_file": "", };

    // order matters here - needs to be the same as the table columns
    var bom_fields = { "foss_component": "",
                       "foss_version": "", 
                       "foss_copyright": "", 
                       "foss_attribution": "",        
                       "foss_license": "", 
                       "foss_license_url": "", 
                       "foss_url": "", 
                       "foss_spdx": "",
                       "foss_patches": "" };

    function setdefaults() {
        {% if record.spdx_file != '' %}
            hide_element('spdx_warn_head'); 
        {% else %}
            // perhaps an assumption here, if things work correctly we should never see both
            hide_element('spdx_warn_line');   
        {% endif %}
        // default is to use the component select
        component_disabled(true);
    }

    function submit_header_validate() {
        var filled = true;
        for(var f in header_fields){
            var src = "id_" + f;
            if (document.getElementById(src).value == "" && f != "contact" && f != "spdx_file")
                filled = false;
        }
        if (document.getElementById('id_header_commit_message').value == "")
            filled = false;
        // refuse to submit unless all required fields are filled       
        if (filled == false) {      
            alert("Please fill all required header fields, including the commit message");
            return false;
        } else {
            if (document.getElementById('submit_header').value == "Clone Record")
                return search_dupes();
        }
    }

    function search_dupes() {
        var record = check_for_record();
        if (record == "None") {
            return true;
        } else {
            alert("There appears to already be an entry with that company, product, version, release. Please change one of these values.")
            return false;
        }
    }

    function line_edit_fill(row, record) {
        // different behavior for add vs edit
        if (row.search("add") == -1) {
            document.getElementById('line_item_no').innerHTML = row;
            // walk through the table row and plug the values into the edit form, called when we click the icon, before the form appears
            for(var f in bom_fields){
                var dest = "id_" + f;
                if (f == "foss_url") {
                    var src = "foss_component" + row;
                } else if (f == "foss_license_url") {
                    var src = "foss_license" + row;
                } else {
                    var src = f + row;
                }
                if (document.getElementById(src).children.length > 0) {
                    var items = document.getElementById(src).children.length;
                    // clear anything from a previous call
                    document.getElementById(dest).value = '';
                    // patches are a set of values
                    if (f == "foss_patches") {
                        for (i = 0; i < items; i = i+2) {
                            document.getElementById(dest).value += document.getElementById(src).children[i].innerHTML + "\n";
                        }
                    } else if (f == "foss_license_url" || f == "foss_url") {
                        document.getElementById(dest).value += document.getElementById(src).children[0].href
                    } else if (f == "foss_license") {
                        var license_text = document.getElementById(src).children[0].innerHTML;
                        var options = document.getElementById(dest).children;
                        for (i=0; i<options.length; i++) {
                            if (options.item(i).innerHTML == license_text) {
                                options.item(i).selected = "selected";
                            } else {
                                options.item(i).selected = "";
                            }
                        }
                    } else {
                        document.getElementById(dest).value += document.getElementById(src).children[0].innerHTML
                    }
                } else {
                    document.getElementById(dest).value = document.getElementById(src).innerHTML;
                }
            }
            document.getElementById('foss_record_id').value = record;
            document.getElementById('item_edit_mode').innerHTML = "Edit";
            document.getElementById('submit_item').value = "Update Item";
            // filetree isn't working on a second display of the form, force it to reload here
            reload_filetree();
        } else {
            // start with an empty form
            for(var f in bom_fields){
                var dest = "id_" + f;
                document.getElementById(dest).value = "";
            }
            document.getElementById('line_item_no').innerHTML = parseInt(record) + 1;
            document.getElementById('foss_record_id').value = parseInt(record) + 1;
            document.getElementById('item_edit_mode').innerHTML = "Add";
            document.getElementById('submit_item').value = "Add Item";
        }
    }

    function submit_line_validate() {
        var filled = true;
        for(var f in bom_fields){
            var src = "id_" + f;
            if (document.getElementById(src).value == "" && f != "foss_spdx" && f != "foss_patches")
                filled = false;
        }
        if (document.getElementById('id_item_commit_message').value == "")
            filled = false;
        // refuse to submit unless all required fields are filled       
        if (filled == false) {      
            alert("Please fill all required component fields, including the commit message");
            return false;
        } else {
            // re-enable the disabled fields before submit or we wipe the record out
            component_disabled(false);
            return true;
        }
    }
    
    function header_edit_mode(mode) {
        if (mode == "clone_record") {
            var warning_txt = "<b>Warning</b> - to clone this record, please change at least one of the highlighted fields";
            var title_txt = "Clone Record:";
            var commit_txt = "Modified clone of record {{ record.id }}";
            var submit_txt = "Clone Record";
        } else {
            var warning_txt = "<b>Warning</b> - changing these fields will cause the checksum/barcode to be regenerated!";
            var title_txt = "Edit Header:";
            var commit_txt = "";
            var submit_txt = "Update Header";
        }
        document.getElementById('header_warning').innerHTML = warning_txt;
        document.getElementById('header_title').innerHTML = title_txt;
        document.getElementById('id_header_commit_message').value = commit_txt;
        document.getElementById('submit_header').value = submit_txt;
        reload_filetree();
    }
    function clear_field(fname) {
        document.getElementById(fname).value = '';
    }

</script>
{% endblock %}
