{% extends "barcode/base.html" %}
{% block header %}
    <style type="text/css">@import "/site_media/css/containers.css";</style>
</head>
{% endblock %}

{% block content %}

{% if error_message %}
  <p><b>No barcode result, or error message from cli was:</b></p>
  <pre>
  {{ error_message }}
  </pre>
{% else %}
  <div id="print">
  <br>
  <table width = "100%" border = "1">
    <tr>
      <td rowspan = "3" width = "40%">
        <b>Company Name: </b>{{ record.company }}<br>
        <b>FOSS Website: </b><a href="{{ record.website }}" target="_blank">{{ record.website }}</a><br>
        <b>Product Name: </b>{{ record.product }}<br>
        <b>Product Version/Release: </b>{{ record.version }}-{{ record.release }}<br>
        <b>Date: </b>{{ record.record_date|date:"M d, Y H:i:s" }}<br>
        <b>Compliance Contact Name: </b>{{ record.contact }}<br>
        <b>Compliance Contact Email: </b><a href="mailto:{{ record.email }}" target="_blank">{{ record.email }}</a><br>
      </td>
      <td align = "center" id = "noprint">
        <input type="button" name="doprint" value="Print BoM Compliance Record" onClick="javascript:window.print()">
      </td>
    </tr>    
    <tr>
      <td align = "center">
        <img src="/site_media/user_data/{{ record.id }}/{{ record.checksum }}.png"><br>
        <a href="/site_media/user_data/{{ record.id }}/{{ record.checksum }}.ps">Download Postscript</a>
      </td>
    </tr>
    <tr>
      <td align = "center"><b>Checksum/Site Reference: </b><a href="{{ host_site }}{{ record.checksum }}" target="_blank">{{ record.checksum }}</a></td>
    </tr>
  </table>
  <table border = "1" width = "100%">
    <tr><th colspan = "9">FOSS Bill of Material for {{record.product }}-{{ record.version }}-{{ record.release }}</th></tr>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Copyright<br>Information</th>
      <th>Attribution<br>Notices</th>
      <th>License<br>Name and Version</th>
      <th>License<br>URL</th>
      <th>Download<br>URL</th>
      <th>SPDX<sup>TM</sup><br>File</th>
      <th>Patch(es)</th>
    </tr>
    {% for row in foss %}
    <tr valign = "top">
      <td>{{ row.component }}</td>
      <td>{{ row.version }}</td>
      <td>{{ row.copyright }}</td>
      <td>{{ row.attribution }}</td>
      <td>{{ row.license }}</td>
      <td><a href="{{ row.license_url }}" target="_blank">{{ row.license_url }}</a></td>
      <td><a href="{{ row.url }}" target="_blank">{{ row.url }}</a></td>
      {% autoescape off %}
      <td>{{ row.spdx_file }}</td>
      <td>{{ row.patches }}</td>
      {% endautoescape %}
    </tr>
  {% endfor %}
  </table>
  </div>
{% endif %}

{% endblock %}
