<!-- we don't extend base for this one as we don't want the overall tabs/styling -->
{% block header %}
<head>
    <!-- CSS file for modal dialog -->
    <style type="text/css" media="screen">@import "/site_media/css/barcode-modals.css";</style>
</head>
{% endblock %}

{% block content %}

{% if error_message %}
  <h2>{{ error_message }}</h2>
{% endif %}
<div id="simplemodal-content">
    <h3>Edit Line Item, id# {{ item.id }}:</h3>
    <table>
      <tr><td><b>Component:</b></td><td><input type="input" name="component" value="{{ item.package }}"></td></tr>
      <tr><td><b>Version:</b></td><td><input type="input" name="cversion" value="{{ item.version }}"></td></tr>
      <tr><td><b>Copyright Information:</b></td><td><input type="copyright_info" name="product" value="{{ item.copyright }}"></td></tr>
      <tr><td><b>Attribution Notices:</b></td><td><input type="attribution" name="version" value="{{ item.attribution }}"></td></tr>
      <tr><td><b>License Name and Version:</b></td><td><input type="license" name="release" value="{{ item.license }}"></td></tr>
      <tr><td><b>License URL:</b></td><td><input type="input" name="license_url" value="{{ item.license_url }}"></td></tr>
      <tr><td><b>Download URL:</b></td><td><input type="input" name="download_url" value="{{ item.url }}"></td></tr>
      <tr><td><b>SPDX<sup>TM</sup> File:</b></td><td><input type="spdx_file" name="email" value="{{ item.spdx_file }}"></td></tr>
      <tr><td><b>Patches:</b></td><td><input type="input" name="patches" value="{{ item.patches }}"></td></tr>
      <tr><td><b>Change Comments (for change history):</b></td><td><input type="input" name="changelog" value=""></td></tr>
      <tr><td></td><td align="center"><input type="button" name="Update" value="Update Line Item" onclick="update_line_item()"/></td></tr>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script language="JavaScript">
    function update_line_item() {
        alert("TBD: update item");
    }
</script>
{% endblock %}
