<!-- we don't extend base for this one as we don't want the overall tabs/styling -->
{% block content %}
<div id="header-modal-content">
  <!-- form needs to be inside the div -->
  <form name="headerform" method="post" action="" enctype="multipart/form-data">
    <h3 id="header_title"></h3>
    <!-- usual "container" stype wasn't working here, use containerm -->
    <div class="containerm" id="modal_entry_form">
    <span class="red" id="header_warning"></span>
    <table>
      <tr>
        <td><span class="red"><b>{{ headerform.company.label }}:</b></span></td>
        <td></td>
        <td><input type="input" id="id_company" name="company" value="{{ record.company }}"></td>
      </tr>
      <tr>
        <td colspan="3">{{ headerform.company.errors }}</td>
      </tr>
      <tr>
        <td><b>{{ headerform.website.label }}:</b></td>
        <td></td>
        <td><input type="input" id="id_website" name="website" value="{{ record.website }}"></td>
      </tr>
      <tr>
        <td colspan="3">{{ headerform.website.errors }}</td>
      </tr>
      <tr>
        <td><span class="red"><b>{{ headerform.product.label }}:</b></span></td>
        <td></td>
        <td><input type="input" id="id_product" name="product" value="{{ record.product }}"></td>
      </tr>
      <tr>
        <td colspan="3">{{ headerform.product.errors }}</td>
      </tr>
      <tr>
        <td><span class="red"><b>{{ headerform.version.label }}:</b></span></td>
        <td></td>
        <td><input type="input" id="id_version" name="version" value="{{ record.version }}"></td>
      </tr>
      <tr>
        <td colspan="3">{{ headerform.version.errors }}</td>
      </tr>
      <tr>
        <td><span class="red"><b>{{ headerform.release.label }}:</b></span></td>
        <td></td>
        <td><input type="input" id="id_release" name="release" value="{{ record.release }}"></td>
      </tr>
      <tr>
        <td colspan="3">{{ headerform.release.errors }}</td>
      </tr>
      <tr>
        <td><b>{{ headerform.contact.label }}:</b></td>
        <td></td>
        <td><input type="input" id="id_contact" name="contact" value="{{ record.contact }}"></td>
      </tr>
      <tr>
        <td><b>{{ headerform.email.label }}:</b></td>
        <td></td>
        <td><input type="input" id="id_email" name="email" value="{{ record.email }}"></td>
      </tr>
      <tr>
        <td colspan="3">{{ headerform.email.errors }}</td>
      </tr>
      <tr>
        <td colspan="3">
          <span class="red" id="spdx_warn_head"><b>Warning:</b> Adding a top-level SPDX file will remove any BoM SPDX files.</span>
        </td>
      </tr>
      <tr>
        <td><b>{% autoescape off %}{{ headerform.spdx_file.label }}{% endautoescape %}:</b></td>
        <td align="center">
          <a href="#" id="clear_foss_spdx"><img src="/site_media/images/edit-delete.png" 
                      title="Clear SPDX" onclick="clear_field('id_spdx_file');"></a>
          <input type="button" name="spdxfilename" value="Select" id="top_spdx_select"
                             title="Open a File/Directory Selector"
                             onclick="toggle_visibility('target_select_modalh');set_destination('spdx_file')"/>
        </td>
        <td><input type="input" id="id_spdx_file" name="spdx_file" value="{{ record.spdx_file }}"></td>    
      </tr>
      <tr>
        <td colspan="2"><b>{{ headerform.header_commit_message.label }}:</b></td>
      </tr>
    </table>
    <br>
    </div>
    <!-- jQuery File Tree browser -->
    <div class="containerm" id="target_select_modalh" style="display: none;"> 
	    <div id="targeth" class="browser"></div> 
    </div>
    <div>
        {{ headerform.header_commit_message.errors }}
    </div>
    <div class="commit_table">
        <table width="100%">
          <tr>
            <td>{{ headerform.header_commit_message }}</td>
          </tr>
          <tr>
            <td align="center"><input type="submit" name="submit" id="submit_header" value="" onclick="return submit_header_validate();"></td>
          </tr>
        </table>
    </div>     
  </form>
</div>
{% endblock %}
{% block scripts %}
<script language="JavaScript">
    // no manual entry for spdx_files
    document.getElementById('id_spdx_file').setAttribute('readonly', 'true');
    // in the input form we have to play games with top-level spdx vs line-item, here the backend handles the change
    document.getElementById("id_spdx_file").setAttribute("onchange", "");
</script>
{% endblock %}
