<!-- we don't extend base for this one as we don't want the overall tabs/styling -->
{% block content %}
<div id="line-item-modal-content">
  <!-- form needs to be inside the div -->
  <form id="itemform" method="post" action="" enctype="multipart/form-data">
    <div class="titlem"><span id="item_edit_mode">Edit</span> Line Item, id# <span id="line_item_no">N</span>:</div>
    <!-- usual "container" stype wasn't working here, use containerm -->
    <div class="containerm" id="modal_entry_form">
     <table width="100%">
      <tr>
        <td colspan="3">{% autoescape off %}{{ component_select }}{% endautoescape %}</td>
      </tr>
      <tr>
        <td colspan="2"><b>{{ itemform.required_flag }}{{ itemform.foss_component.label }}:</b></td>
        <td>{{ itemform.foss_component }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ itemform.foss_component.errors }}</td>
      </tr>
      <tr>
        <td colspan="2"><b>{{ itemform.required_flag }}{{ itemform.foss_version.label }}:</b></td>
        <td>{{ itemform.foss_version }}</td>
        </tr>
      <tr>
        <td colspan="3">{{ itemform.foss_version.errors }}</td>
      </tr>
      <tr>
        <td colspan="2"><b>{{ itemform.required_flag }}{{ itemform.foss_copyright.label }}:</b></td>
        <td>{{ itemform.foss_copyright }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ itemform.foss_copyright.errors }}</td>
      </tr>
      <tr>
        <td colspan="2"><b>{{ itemform.required_flag }}{{ itemform.foss_attribution.label }}:</b></td>
        <td>{{ itemform.foss_attribution }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ itemform.foss_attributions.errors }}</td>
      </tr>
      <tr id="existing_license">
        <td colspan="2"><b>{{ itemform.required_flag }}{{ itemform.foss_license.label }}:</b></td>
        <td>{{ itemform.foss_license }}</td>
      </tr>
      <tr id="new_license" style="display: none;">
        <form id="new_license_form">
        <td colspan="2" valign="top">      
          <b><label for="new_license_name">New License Name:</label><br />
          <label for="new_license_version">New License Version:</label><br />
          <label for="new_license_url">New License Default URL:</label></b>
        </td>
        <td>
          <input type="text" name="new_license_name" id="new_license_name" /><br />
          <input type="text" name="new_license_version" id="new_license_version" /><br />
          <input type="text" name="new_license_url" id="new_license_url" /><br />
          <input type="button" onclick="new_license()" value="Add New License" />
        </td>
        </form>
      </tr>     
      <tr>
        <td colspan="3">{{ itemform.foss_license.errors }}</td>
      </tr>
      <tr>
        <td colspan="2"><b>{{ itemform.required_flag }}{{ itemform.foss_license_url.label }}:</b></td>
        <td>{{ itemform.foss_license_url }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ itemform.foss_license_url.errors }}</td>
      </tr>
      <tr>
        <td colspan="2"><b>{{ itemform.required_flag }}{{ itemform.foss_url.label }}:</b></td>
        <td>{{ itemform.foss_url }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ itemform.foss_url.errors }}</td>
      </tr>
      <tr>
        <td colspan="3">
          <span class="red" id="spdx_warn_line"><b>Warning:</b> Adding a line-item SPDX file will remove any header SPDX file.</span>
        </td>
      </tr>
      <tr>
        <td><b>{{ itemform.optional_flag }}{% autoescape off %}{{ itemform.foss_spdx.label }}{% endautoescape %}:</b></td>
        <td>
            <input type="button" name="select_spdx" value="Select" 
                   title="Open a File/Directory Selector" 
                   onclick="toggle_visibility('target_select_modal');set_destination('foss_spdx');toggle_enabled('select_patch');">
            <a href="#" id="clear spdx"><img src="/site_media/images/edit-delete.png" 
                        title="Clear SPDX" onclick="clear_field('id_foss_spdx')";></a>
        </td>
        <td>{{ itemform.foss_spdx }}</td>
      </tr>
      <tr>
        <td valign="top"><b>{{ itemform.optional_flag }}{{ itemform.foss_patches.label }}:</b></td>
        <td valign="top">
            <input type="button" name="select_patch" value="Select"title="Open a File/Directory Selector" 
                   onclick="toggle_visibility('target_select_modal');set_destination('foss_patches');toggle_enabled('select_spdx');">
            <a href="#" id="clear patches"><img src="/site_media/images/edit-delete.png" 
                        title="Clear Patches" onclick="clear_field('id_foss_patches');"></a>
        </td>
        <td rowspan="2">{{ itemform.foss_patches }}</td>
      </tr>
      <tr>
        <td colspan="2">
            <b>{{ itemform.required_flag }}{% autoescape off %}{{ itemform.item_commit_message.label }}{% endautoescape %}:</b>
        </td>
      </tr>
     </table>
    </div>
    <!-- jQuery File Tree browser -->
    <div class="containerm" id="target_select_modal" style="display: none;"> 
	    <div id="target" class="browser"></div> 
    </div>
    <div>
        {{ itemform.item_commit_message.errors }}
    </div>
    <div class="commit_table">
        <table width="100%">
          <tr>
            <td>{{ itemform.item_commit_message }}</td>
          </tr>
          <tr>
            <td align="center"><input type="submit" name="submit" id="submit_item" value="Update Item" onclick="return submit_line_validate();"></td>
          </tr>
        </table>
        <!-- so the back end knows which record to update -->
        <input type="hidden" name="foss_record_id" id="foss_record_id" value="">
    </div>
  </form>
</div> <!-- modal content -->
{% endblock %}
{% block scripts %}
<script language="JavaScript">
    // filenametoentry doesn't need to update_patch_list in the modal form
    var modal = true;
    // no manual entry for spdx_files, patches
    document.getElementById('id_foss_spdx').setAttribute('readonly', 'true');
    document.getElementById('id_foss_patches').setAttribute('readonly', 'true');
    // in the input form we have to play games with top-level spdx vs line-item, here the backend handles the change
    document.getElementById("id_foss_spdx").setAttribute("onchange", "");
</script>
{% endblock %}


