{% extends "barcode/base.html" %}
{% block header %}
  <!-- for the file browser -->
  <style type="text/css" media="screen">@import "/site_media/css/jqueryFileTree.css";</style>
  <style type="text/css">@import "/site_media/css/containers.css";</style>
  <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/site_media/js/jqueryFileTree.js"></script>
  <script type="text/javascript" src="/site_media/js/visibility.js"></script>
  <script type="text/javascript" src="/site_media/js/checklist.js"></script>
</head>
{% endblock %}

{% block content %}

<div id="title">&nbsp;{% include "barcode/noscript.html" %}</div>

{% if error_message %}
    {% autoescape off %}
    <span class="red"><b>{{ error_message }}</b></span>
    {% endautoescape %}
{% endif %}

{% if not needs_setup %}
<form name="entryform" method="post" action="" enctype="multipart/form-data">

<div class="container" id="entry_form">
<table align="left" width="100%">
  <tr align="left">
    <td align="right"><b>{{ recordform.company.label }}:</b></td>
    <td>{{ recordform.company }}</td>
    <td>{{ recordform.company.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.website.label }}:</b></td>
    <td>{{ recordform.website }}</td>
    <td>{{ recordform.website.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.product.label }}:</b></td>
    <td>{{ recordform.product }}</td>
    <td>{{ recordform.product.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.version.label }}:</b></td>
    <td>{{ recordform.version }}</td>
    <td>{{ recordform.version.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.release.label }}:</b></td>
    <td>{{ recordform.release }}</td>
    <td>{{ recordform.release.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.contact.label }}:</b></td>
    <td>{{ recordform.contact }}</td>
    <td></td>    
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.email.label }}:</b></td>
    <td>{{ recordform.email }}</td>
    <td>{{ recordform.email.errors }}</td>   
  </tr>      
</table>
</div> <!-- entry_form -->

<div class="container" id="target_select" style="display: none;"> 
	<div id="target" class="browser"></div> 
</div>

<div class="foss_table">
{% if component_error %}
    {% autoescape off %}
    <span class="red"><b>{{ component_error }}</b></span>
    {% endautoescape %}
{% endif %}
<table border="1" width="700" cellspacing="1" style='table-layout:fixed' id="foss_list">
    <col width=30>
    <col width=125>
    <col width=60>
    <col width=120>
    <col width=120>
    <col width=60>
    <col width=145>
    <col width=145>
    <col width=120>
    <col width=80>
    <col width=145>
    <col width=120>
  <tr>
    <td></td>
    <th>FOSS Component</th>
    <th>Version</th>
    <th>Copyright<br>Information</th>
    <th>Attribution<br>Notices</th>
    <th>License<br>Name and Version</th>
    <th>License<br>URL</th>
    <th>Original<br>Download URL</th>
    <th colspan=2>SPDX<sup>TM</sup>File<br>(optional)</th>
    <th>Patches<br>(if applicable)</th>  
    <td></td>
  </tr>
  <tr>
    <!-- needed to control the width here, so hand tweaked size in css -->
    <td></td>
    <td>{{ recordform.foss_component }}</td>
    <td>{{ recordform.foss_version }}</td>
    <td>{{ recordform.foss_copyright }}</td>
    <td>{{ recordform.foss_attribution }}</td>
    <td>{{ recordform.foss_license }}</td>
    <td>{{ recordform.foss_license_url }}</td>
    <td>{{ recordform.foss_url }}</td>
    <!-- hand code this one so we can disable manual input -->
    <td><input type="input" name="foss_spdx" readonly="true"/></td>
    <td align="center"><input type="button" name="spdxfilename" value="Select"
                            title="Open a File/Directory Selector"
                            onclick="toggle_visibility('target_select');set_destination('foss_spdx');toggle_enabled('patchfilename');"/></td>
    <td align="center" colspan="2"><input type="button" name="addfoss" 
                                        value="Add Component" 
                                        onclick="get_foss_values();add_foss_row('foss_list', 'add')"/></td>
  </tr>
  <div id="bom_editor">
  <tr>
    <td align="center"><input type="checkbox" name="selectall"
                    title="Select/Deselect All Records" 
                    onclick="toggleall(this.form,'bomcheck','selectall')" />
    </td>
    <td colspan="9"></td>
    <td align="center" colspan="2"><input type="button" name="delete_rows" value="Delete Selected Components"
                onclick="delete_bom_components('foss_list')" />
    </td>
  </tr>
  </div> <!-- editor -->
<!-- TODO - loop and fill this from SPDX? -->
</table>
</div> <!-- foss_table -->

<input type="hidden", name="foss_components", id="foss_components", value="{{ foss_components }}">
<input type="hidden", name="foss_versions", id="foss_versions", value="{{ foss_versions }}">
<input type="hidden", name="foss_copyrights", id="foss_copyrights", value="{{ foss_copyrights }}">
<input type="hidden", name="foss_attributions", id="foss_attributions", value="{{ foss_attributions }}">
<input type="hidden", name="foss_licenses", id="foss_licenses", value="{{ foss_licenses }}">
<input type="hidden", name="foss_license_urls", id="foss_license_urls", value="{{ foss_license_urls }}">
<input type="hidden", name="foss_urls", id="foss_urls", value="{{ foss_urls }}">
<input type="hidden", name="foss_spdxs", id="foss_spdxs", value="{{ foss_spdxs }}"> 
<input type="hidden", name="foss_patches", id="foss_patches", value="{{ foss_patches }}">

<div class="cfooter">
<hr>
<table width="100%">
  <tr>
    <td align="center"><input style="width: 200px" type="submit" name="submit_qrcode" value="Create Checksum/QRcode" /></td>
  </tr>
  <tr>
    <td align="center"><input style="width: 200px" type="submit" name="submit_barcode" value="Create Checksum/Barcode" /></td>
  </tr>
</table>
<hr>
</form> <!-- overall form ends here to include the submit buttons -->
<!-- remove per Ibrahim
<b>Subscribe to the <a href="https://lists.linux-foundation.org/mailman/listinfo/foss-barcode-dev">mailing list</a></b><br>
<b>Get latest version from <a href="http://git.linuxfoundation.org/?p=foss-barcode.git;a=summary">git</a></b><br>
<b>Report bugs and request features at <a href="http://bugs.linuxfoundation.org/enter_bug.cgi?product=Compliance">bugzilla</a></b><br>
-->
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script language="JavaScript">
    var path_dest = "";
    // used in several places to differentiate which field we're selecting files for
    var pfield = "foss_patches";
    var sfield = "foss_spdx";

    // order matters here - needs to be the same as the table columns
    var bom_fields = { "foss_component": "",
                       "foss_version": "", 
                       "foss_copyright": "", 
                       "foss_attribution": "",        
                       "foss_license": "", 
                       "foss_license_url": "", 
                       "foss_url": "", 
                       "foss_spdx": "" };

    $(document).ready( function() {
        $('#target').fileTree({
            root: '/',
            script: '/barcode/dirlist/',
            loadMessage: 'waiting to load'
            }, function(file) {
                filenametoentry(file);
        });
    });

    function setdefaults() {
        // if the user submitted with missing data, we lose the FOSS table content, repopulate
        if (document.getElementById("foss_components").value != "") {
            var fossc = document.getElementById("foss_components").value.split(",");
            var fossp = document.getElementById(pfield).value.split(",");
            for (i = 0; i < fossc.length - 1; i++) {
                for(var f in bom_fields){
                    var fh = f + "s";
                    bom_fields[f] = document.getElementById(fh).value.split(",")[i];
                }                
                add_foss_row("foss_list", "reload");
                var patch_tag = pfield + i;
                var p = document.getElementsByName(patch_tag)[0];
                if (typeof p != 'undefined')
                    p.value = fossp[i];                
            }
        } else {
            // FIXME - hide the editor portion of the BOM if we have no data
            var e = document.getElementById("bom_editor");
            e.style.display = 'none';
        }
    }
    function set_destination(dest) {
        path_dest = dest;
    }
    function toggle_enabled(button) { 
        var e = document.getElementsByName(button)[0];
        if (e.disabled == true)
            e.disabled = false;
        else
            e.disabled = true;     
    }
    function filenametoentry(filename) {
        lastchar = filename.slice(-1);
        // only files, no dirs
        if (lastchar != '/') {
            if (path_dest == sfield) {
                // replace, don't append
                document.getElementsByName(path_dest)[0].value = filename;
            } else {
                document.getElementsByName(path_dest)[0].value += filename + "\n";
            }
            if (path_dest.indexOf(pfield) != -1)
                update_patch_list(path_dest);
        }
    }
    function update_patch_list(src) {
        var findex = src.replace(pfield,"");
        var rlist = document.getElementById(pfield).value;
        var rarray = rlist.split(",");
        rarray[findex] = document.getElementsByName(src)[0].value;
        document.getElementById(pfield).value = rarray.join(",");        
    }
    function get_foss_values() {
        for(var f in bom_fields){
            bom_fields[f] = document.getElementsByName(f)[0].value;
        }    
    }
    function remove_bom_values(row) {
        for(var f in bom_fields){
            var fh = f + "s";
            var rlist = document.getElementById(fh).value;
            var rarray = rlist.split(",");
            rarray.splice(row,1);
            document.getElementById(fh).value = rarray.join(",");
        } 
    }
    function clear_bom_values() {
        for(var f in bom_fields){
            var fh = f + "s";
            document.getElementById(fh).value = "";
        }
    }
    function delete_bom_components(id) {
        // nothing is in the database yet, so this is handled a little differently than the other forms
        var t = document.getElementById(id);
        var chk = document.getElementsByName("bomcheck");
        // list index is 0... - actual row is +3     
        if (typeof chk != 'undefined') {
            if (typeof chk.length != 'undefined') {
                // work backwords or we miss rows
                for (i = chk.length - 1; i >= 0; i--) {
                    if (chk[i].checked == true) {
                        t.deleteRow(i+3);
                        remove_bom_values(i);
                    }
                }
            } else {
                // only one row to work with
                if (chk.checked == true) {
                    t.deleteRow(3);
                    clear_bom_values();
                }
            }
            document.getElementsByName("selectall")[0].checked = false;
        } else {
            return;
        }
    }
    function add_foss_row(id, mode){
        var filled = true;
        for(var f in bom_fields){
            if ((bom_fields[f]) == "" && (f != sfield))
                filled = false;
        } 
        // refuse to add unless all required fields are filled       
        if ((mode == "add") && (filled == false)) {       
            alert("Please fill all required component fields.");
            return;
        }

        var tbody = document.getElementById(id).getElementsByTagName("TBODY")[0];
        var rindex = document.getElementById(id).rows.length - 3;
        var patch_tag = pfield + rindex;
        var row = document.createElement("TR");

        var td0 = document.createElement("TD");
        var tcb = document.createElement("input");
        tcb.setAttribute("type", "checkbox");
        tcb.setAttribute("name", "bomcheck");
        var chk = document.getElementsByName("bomcheck");
        var cvalue = 0;        
        if (typeof chk != 'undefined') {
            if (typeof chk.length != 'undefined')
                cvalue = chk.length;
        }
        tcb.setAttribute("value", cvalue);
        td0.appendChild(tcb);   
        row.appendChild(td0);

        // all text fields, just loop through input object
        for(var f in bom_fields){
            var td = document.createElement("TD");
            td.setAttribute("valign", "top");
            if (f == sfield)
                td.setAttribute("colspan", "2");
            td.appendChild(document.createTextNode(bom_fields[f]));
            row.appendChild(td);
        }

        // list of patches
        var td9 = document.createElement("TD");        
        var ch9 = document.createElement("textarea");
        ch9.setAttribute("type", "textarea");
        ch9.setAttribute("name", patch_tag);
        ch9.setAttribute("readonly", "true");
        td9.appendChild(ch9);   
        row.appendChild(td9);

        // buttons for file selectors
        var td10 = document.createElement("TD");
        td10.setAttribute("align", "center");
        var ch10 = document.createElement("input");
        ch10.setAttribute("type", "button");
        ch10.setAttribute("value", "Select\nPatch(es)");
        ch10.setAttribute("onclick", "toggle_visibility('target_select');toggle_enabled('spdxfilename');set_destination('" + patch_tag + "')");
        ch10.setAttribute("name","patchfilename");
        ch10.setAttribute("title", "Open a File/Directory Selector");
        td10.appendChild(ch10);
        row.appendChild(td10);
        
        tbody.appendChild(row);

        // only set the hidden fields for a clean add, not a form reload
        if (mode == "add") {
            // append to the hidden fields, clean the input fields
            for(var f in bom_fields){
                var fh = f + "s";
                document.getElementById(fh).value += bom_fields[f] + ",";
                document.getElementsByName(f)[0].value = "";
            }
        }

        // cleanup the input object
        for(var f in bom_fields){
            bom_fields[f] = "";
        }
    }
</script>

{% endblock %}

