{% extends "barcode/base.html" %}
{% block header %}
  <style type="text/css" media="screen">@import "/site_media/css/containers.css";</style>
  <style type="text/css" media="screen">@import "/site_media/css/validate.css";</style>
  <!-- CSS file for the datepicker -->
  <style type="text/css" media="screen">@import "/site_media/css/jquery-ui-1.8.16.custom.css";</style>
  <!-- CSS file for modal dialog -->
  <style type="text/css" media="screen">@import "/site_media/css/barcode-modals.css";</style>
  <!-- CSS file to customize file select layouts -->
  <style type="text/css" media="screen">@import "/site_media/css/fakefile.css";</style>
  <!-- progress bar for async file uploads -->
  <style type="text/css" media="screen">@import "/site_media/css/progress.css";</style>
  <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/site_media/js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type='text/javascript' src='/site_media/js/jquery.simplemodal.1.4.1.min.js'></script>
  <script type='text/javascript' src='/site_media/js/jquery.validate.js'></script>
  <script type='text/javascript' src='/site_media/js/barcode-modals.js'></script>
  <script type='text/javascript' src='/site_media/js/file-select-ops.js'></script>
  <script type="text/javascript" src="/site_media/js/visibility.js"></script>
  <script type="text/javascript" src="/site_media/js/checklist.js"></script>
  <script type="text/javascript" src="/site_media/js/record-check.js"></script>
  <script type="text/javascript" src="/site_media/js/date-picker.js"></script>
  <script type="text/javascript" src="/site_media/js/component-select.js"></script>
  <script type="text/javascript" src="/site_media/js/licenses.js"></script>
</head>
{% endblock %}

{% block content %}

<div id="title">&nbsp;{% include "barcode/noscript.html" %}</div>

{% if error_message %}
    {% autoescape off %}
    <span class="red"><b>{{ error_message }}</b></span>
    {% endautoescape %}
{% endif %}

{% if not needs_setup %}
<form name="entryform" id="entryform" method="post" action="" enctype="multipart/form-data">
<div class="container" id="entry_form">
<table align="left" width="100%">
  <tr align="left">
    <td align="right"><b>{{ recordform.required_flag }}{{ recordform.company.label }}:</b></td>
    <td>{{ recordform.company }}</td>
    <td>{{ recordform.company.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.required_flag }}{{ recordform.website.label }}:</b></td>
    <td>{{ recordform.website }}</td>
    <td>{{ recordform.website.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.required_flag }}{{ recordform.product.label }}:</b></td>
    <td>
      {{ recordform.product }}
      {% if products %}
        <select id="id_product_select" style="width: 120px;" onchange="select_to_product();">
          <option value="">Select...</option>
          <option value="manual_entry">New...</option>
          {% for p in products %}
            <option value="{{ p }}">{{ p }}</option>
          {% endfor %}
        </select>
      {% endif %}
    </td>
    <td>{{ recordform.product.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.required_flag }}{{ recordform.version.label }}:</b></td>
    <td>{{ recordform.version }}</td>
    <td>{{ recordform.version.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.required_flag }}{{ recordform.release.label }}:</b></td>
    <td>{{ recordform.release }}</td>
    <td>{{ recordform.release.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.optional_flag }}{{ recordform.contact.label }}:</b></td>
    <td>{{ recordform.contact }}</td>
    <td></td>    
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.required_flag }}{{ recordform.email.label }}:</b></td>
    <td>{{ recordform.email }}</td>
    <td>{{ recordform.email.errors }}</td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.optional_flag }}{% autoescape off %}{{ recordform.spdx_file.label }}{% endautoescape %}:</b></td>
    <td colspan="2" valign="center">
      <!-- crafted css to mask the file input field with a text field/button, use the same name/id as the django FileField -->
      <div class="fileinputs">
	    <input type="file" class="file" id="id_spdx_input_file" name="spdx_input_file" 
               onchange="file_input_to_field('id_spdx_input_file', 'id_spdx_file', false);"/>
	    <div class="fakefile">
		  {{ recordform.spdx_file }}
          <!-- this is just for looks, we really activate the invisible one above -->
		  <input type="button" name="spdx_h_filename" value="Select"/>
	    </div>
        <a href="#" id="clear_foss_spdx"><img src="/site_media/images/edit-delete.png" 
                    title="Clear SPDX" onClick="clear_spdx('id_spdx_file', 'foss_spdx_select');clear_value_by_id('id_spdx_input_file');"></a>
      </div>
    </td>
    <td></td>
  </tr>
  <tr align="left">
    <td align="right"><b>{{ recordform.optional_flag }}{{ recordform.release_date.label }}:</b></td>
    <td>{{ recordform.release_date }}</td>
    <td></td>
  </tr>
  <tr align="left">
    <th>(Fields marked * are optional)</th>
    <td align="center">
      <input type="button" id="dupe_search" value="Continue..." onclick="search_dupes();">
    </td>    
    <td></td>
  </tr>          
</table>
</div> <!-- entry_form -->
<!-- this is where the async file uploads get displayed -->
<div class="lprogressor">
  <table id="progress" align="center">
  </table>
</div>
<div class="foss_table">
{% if component_error %}
    {% autoescape off %}
    <span class="red"><b>{{ component_error }}</b></span>
    {% endautoescape %}
{% endif %}
<table border="1" width="700" cellspacing="1" id="foss_list">
    <col width=30>
    <col width=30>
    <col width=125>
    <col width=60>
    <col width=120>
    <col width=120>
    <col width=60>
    <col width=145>
    <col width=150>
    <col width=120>
    <col width=30>
    <col width=145>
    <col width=30>
    <col width=120>
  <tr>
    <td colspan="2"></td>
    <th>{{ recordform.required_flag }}Software<br>Component Name</th>
    <th>{{ recordform.required_flag }}{{ recordform.foss_version.label }}</th>
    <th>{{ recordform.required_flag }}Copyright<br>Information</th>
    <th>{{ recordform.required_flag }}Attribution<br>Notices</th>
    <th colspan="2">{{ recordform.required_flag }}License Name, Version and URL</th>
    <th>{{ recordform.required_flag }}Mint Version<br>Download URL</th>
    <td colspan="2" align="center">
      <b>SPDX<sup>TM</sup>File{{ recordform.optional_flag }}</b>
    </td>
    <th>Patch Files{{ recordform.optional_flag }}</th>  
    <td colspan="2"></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td colspan="7">{% autoescape off %}{{ component_select }}{% endautoescape %}</td>
    <td colspan="5"></td>
  </tr>
  <tr>
    <!-- needed to control the width here, so hand tweaked size in css -->
    <td colspan="2"></td>
    <td>{{ recordform.foss_component }}</td>
    <td>{{ recordform.foss_version }}</td>
    <td>
      {{ recordform.foss_copyright }}
      <div class="fileinputs">
	    <input type="file" class="file" id="id_foss_copyright_input_file" name="foss_copyright_input_file"
               onchange="file_input_to_field('id_foss_copyright_input_file', 'id_foss_copyright', true);"/>
	    <div class="fakefile">
          <!-- this is just for looks, we really activate the invisible one above -->
	      <input type="button" class="bbutton" name="copyright_filename" value="or Select File"/>
	    </div>
      </div>
    </td>
    <td>
      {{ recordform.foss_attribution }}
      <div class="fileinputs">
	    <input type="file" class="file" id="id_foss_attribution_input_file" name="foss_attribution_input_file" 
               onchange="file_input_to_field('id_foss_attribution_input_file', 'id_foss_attribution', true);"/>
	    <div class="fakefile">
          <!-- this is just for looks, we really activate the invisible one above -->
	      <input type="button" class="bbutton" name="attribution_filename" value="or Select File"/>
	    </div>
      </div>
    </td>
    <td colspan="2">
      {{ recordform.foss_license }}<br>
      {{ recordform.foss_license_url }}
    </td>
    <td>{{ recordform.foss_url }}</td>
    <td>
      {{ recordform.foss_spdx }}
      <div class="fileinputs">
	    <input type="file" class="file" id="id_foss_spdx_input_file" name="foss_spdx_input_file" 
               onchange="file_input_to_field('id_foss_spdx_input_file', 'id_foss_spdx', true);"/>
	    <div class="fakefile">
          <!-- this is just for looks, we really activate the invisible one above -->
	      <input type="button" class="bbutton" name="spdx_filename" value="Select"/>
	    </div>
      </div>
    </td>
    <td>
      <a href="#" id="clear_foss_spdx"><img src="/site_media/images/edit-delete.png" 
                  title="Clear SPDX" onclick="clear_field('id_foss_spdx');clear_value_by_id('id_foss_spdx_input_file');"></a>
    </td>
    <td align="center" colspan="3">
      <input type="button" name="addfoss" value="Add Component" onclick="get_bom_values();add_bom_row('foss_list', 'add', 0)"/>
    </td>
  </tr>
  <tr id="bom_new_license" style="display: none;">
    <td colspan="6"></td>
    <td colspan="2">
      <form id="new_license_form">
        <label for="license_name">New License Name:</label>
        <input type="text" name="license_name" id="license_name" />
        <label for="license_version">New License Version:</label>
        <input type="text" name="license_version" id="license_version" />
        <label for="license_url">New License Default URL:</label>
        <input type="text" name="license_url" id="license_url" />
        <input type="button" onclick="new_license()" value="Add New License" />
      </form>
    </td>
    <td colspan="5"></td>
  </tr>
  <tr id="bom_editor">
    <td align="left" colspan="2"><input type="checkbox" name="selectall"
                    title="Select/Deselect All Records" 
                    onclick="toggleall(this.form,'bomcheck','selectall')" />
    </td>
    <td colspan="9"></td>
    <td align="center" colspan="3"><input type="button" name="delete_rows" value="Delete Selected Components"
                onclick="delete_bom_components('foss_list')" />
    </td>
  </tr> <!-- editor -->
<!-- TODO - loop and fill this from SPDX? -->
</table>
</div> <!-- foss_table -->

<input type="hidden", name="session_id", id="session_id", value="{{ session_id }}">
<input type="hidden", name="foss_components", id="foss_components", value="{{ foss_components }}">
<input type="hidden", name="foss_versions", id="foss_versions", value="{{ foss_versions }}">
<input type="hidden", name="foss_copyrights", id="foss_copyrights", value="{{ foss_copyrights }}">
<input type="hidden", name="foss_copyright_data", id="foss_copyright_data", value="{{ foss_copyright_data }}">
<input type="hidden", name="foss_copyright_sizes", id="foss_copyright_sizes", value="{{ foss_copyright_sizes }}">
<input type="hidden", name="foss_attributions", id="foss_attributions", value="{{ foss_attributions }}">
<input type="hidden", name="foss_attribution_data", id="foss_attribution_data", value="{{ foss_attribution_data }}">
<input type="hidden", name="foss_attribution_sizes", id="foss_attribution_sizes", value="{{ foss_attribution_sizes }}">
<input type="hidden", name="foss_licenses", id="foss_licenses", value="{{ foss_licenses }}">
<input type="hidden", name="foss_license_urls", id="foss_license_urls", value="{{ foss_license_urls }}">
<input type="hidden", name="foss_urls", id="foss_urls", value="{{ foss_urls }}">
<input type="hidden", name="foss_spdxs", id="foss_spdxs", value="{{ foss_spdxs }}">
<input type="hidden", name="foss_spdx_data", id="foss_spdx_data", value="{{ foss_spdx_data }}"> 
<input type="hidden", name="foss_spdx_sizes", id="foss_spdx_sizes", value="{{ foss_spdx_sizes }}">
<input type="hidden", name="foss_patches", id="foss_patches", value="{{ foss_patches }}">
<input type="hidden", name="foss_patch_data", id="foss_patch_data", value="{{ foss_patch_data }}">
<input type="hidden", name="foss_patch_sizes", id="foss_patch_sizes", value="{{ foss_patch_sizes }}">

<div class="cfooter">
<hr>
<table width="100%" id="submit_buttons">
  <tr>
    <td align="center"><input style="width: 300px" type="submit" name="submit_record" id="submit_record" 
                              value="Add Compliance Record" onclick="return fill_hidden_and_submit();"/></td>
  </tr>
</table>
</form> <!-- overall form ends here to include the submit buttons -->
</div>

<!-- place to store the "old" license ID, for managing license URL changes -->
<div id="old_license_id" style="display: none;">-2</div>

{% endif %}
<!-- this is the modal popup content for editing the line item data -->
{% include "barcode/edit_line_input.html" %}
{% endblock %}

{% block scripts %}
<script language="JavaScript">
    // controls for file queueing, user configurable
    var fqueue_size_high = {{ fqueue.size_high }};
    var fqueue_size_low = {{ fqueue.size_low }};
    var fqueue_total_limit = {{ fqueue.total_limit }}; 

    // set client-side validation rules
    $("#id_website")[0].setAttribute("class", "required url");
    $("#id_email")[0].setAttribute("class", "required email");
    $("#id_foss_url")[0].setAttribute("class", "required url");

    // this gets used by component-select.js
    {% if cached_components %}
    var ccache = {% autoescape off %}{{ cached_components }}{% endautoescape %};
    {% endif %}

    // populate the license drop-downs on load, and set up their events
    $("#id_foss_license").ready(function() {
        populate_licenses("id_foss_license", "id_foss_license_url");
        $("#id_foss_license").change(function() {
            if (this.value == '-1') {
                $('#license_name').val('');
                $('#license_version').val('');
                $('#license_url').val('');
                $('#bom_new_license').show();
                $('#id_foss_license_url').val('');
            } else {
                if (this.value == '-2') {
                    $('#id_foss_license_url').val('');
                    $('#id_foss_license_url').attr('disabled', true);
                } else {
                    $('#id_foss_license_url').attr('disabled', false);
                }
                $('#bom_new_license').hide();
                update_license_url(this.value, $('#old_license_id').text(),
                                   'id_foss_license_url');
                $('#old_license_id').text(this.value);
            }
        });
    });

    $("#id_m_foss_license").ready(function() {
        populate_licenses("id_m_foss_license", "id_m_foss_license_url");
        $("#id_m_foss_license").change(function() {
            if (this.value == '-1') {
                $('#new_license_name_m').val('');
                $('#new_license_version_m').val('');
                $('#new_license_url_m').val('');
                $('#existing_license_m').hide();
                $('#new_license_m').show();
                $('#id_m_foss_license_url').val('');
            } else {
                if (this.value == '-2') {
                    $('#id_m_foss_license_url').val('');
                    $('#id_m_foss_license_url').attr('disabled', true);
                } else {
                    $('#id_m_foss_license_url').attr('disabled', false);
                }
                $('#new_license_m').hide();
                $('#existing_license_m').show();
                update_license_url(this.value, $('#old_m_license_id').text(),
                                   'id_m_foss_license_url');
                $('#old_m_license_id').text(this.value);
            }
        });
    });

    // used in several places to differentiate which field we're selecting files for
    var pfield = "foss_patches";
    var sfield = "foss_spdx";

    var header_fields = { "company": "",
                          "website": "",
                          "product": "",
                          "version": "",
                          "release": "",
                          "contact": "",
                          "email": "" };

    // order matters here - needs to be the same as the table columns
    var bom_fields = { "foss_component": "",
                       "foss_version": "", 
                       "foss_copyright": "", 
                       "foss_attribution": "",        
                       "foss_license": "", 
                       "foss_license_url": "", 
                       "foss_url": "", 
                       "foss_spdx": "" };

    // bom fields and their associated file data hidden inputs
    var file_fields = ["foss_copyright", "foss_attribution", "foss_spdx"];
    var file_data_inputs = [ "foss_copyright_data", "foss_attribution_data", "foss_spdx_data" ];

    // this is used by add_bom_row to set license names
    var license_ids = new Array();

    function setdefaults() {
        // see if we have support for the file API
        checkForFileAPI();
        license_ids = new Array();
        // if the user submitted with missing data, we lose the FOSS table content, repopulate
        if (document.getElementById("foss_components").value != "") {
            var fossc = document.getElementById("foss_components").value.split(",");
            var fossp = document.getElementById(pfield).value.split(",");
            var fosspd = document.getElementById("foss_patch_data").value.split(",");
            var fossps = document.getElementById("foss_patch_sizes").value.split(",");
            for (i = 0; i < fossc.length - 1; i++) {
                for(var f in bom_fields){
                    var fh = f + "s";
                    bom_fields[f] = document.getElementById(fh).value.split(",")[i];
                }                
                add_bom_row("foss_list", "reload", i);
                // go back and add in the patch data
                var patch_tag = pfield + i;
                var p = document.getElementsByName(patch_tag)[0];
                if (typeof p != 'undefined') {
                    p.value = fossp[i];
                    p.setAttribute("encoded_data", fosspd[i]);
                    p.setAttribute("data_sizes", fossps[i]);
                }                
            }
            clear_hidden_inputs();
        } else {
            hide_element("foss_list");
            hide_element("bom_editor");
            hide_element("submit_buttons");
        }
        // disable manual input for the spdx_file field
        document.getElementById("id_spdx_file").setAttribute("readonly", "true");
        document.getElementById("id_foss_spdx").setAttribute("readonly", "true");
        // content of this field determines what we can do with the line items
        document.getElementById("id_spdx_file").setAttribute("onchange", "spdx_change('id_spdx_file', 'foss_spdx_select');");
        // and the reverse is true
        document.getElementById("id_foss_spdx").setAttribute("onchange", "spdx_change('id_foss_spdx', 'top_spdx_select');");
        // if these are manually edited, blank out any file data
        document.getElementById("id_foss_copyright").setAttribute("onchange", "clear_value_by_id('id_foss_copyright_input_file');clear_extras('id_foss_copyright', ['encoded_data', 'data_sizes']);");
        document.getElementById("id_foss_attribution").setAttribute("onchange", "clear_value_by_id('id_foss_attribution_input_file');clear_extras('id_foss_attribution', ['encoded_data', 'data_sizes']);");
        // prefill some header values if defined
        document.getElementById("id_company").setAttribute("value", "{% autoescape off %}{{ company_prefills.name }}{% endautoescape %}");
        document.getElementById("id_website").setAttribute("value", "{% autoescape off %}{{ company_prefills.website }}{% endautoescape %}");
        document.getElementById("id_contact").setAttribute("value", "{% autoescape off %}{{ company_prefills.contact }}{% endautoescape %}");
        document.getElementById("id_email").setAttribute("value", "{% autoescape off %}{{ company_prefills.email }}{% endautoescape %}");
        // add attributes to these fields to store the encoded data/queue status in
        for (var f in file_fields) {
            var did = "id_" + file_fields[f];
            clear_extras(did, ['encoded_data', 'data_sizes']);
            did = "id_m_" + file_fields[f];
            clear_extras(did, ['encoded_data', 'data_sizes']);
        }
        // default to list select
        {% if products %}
        document.getElementById("id_product").disabled = true;
        {% endif %}
        {% if cached_components %}
        component_disabled(true);
        {% endif %}
    }
    function select_to_product() {
        var product = document.getElementById("id_product_select").value;
        var dest = document.getElementById("id_product");
        if (product == "manual_entry") {
            dest.disabled = false;
        } else if (product == "") {
            return 0;
        } else {
            dest.value = product;
            dest.disabled = true;
            document.getElementById("id_product_select")[0].selected = true;
        }
    }
    function fill_hidden_and_submit() {
        fill_hidden_fields();
        // backend doesn't see the entered values for disabled fields on submit, enable them before submit
        header_disabled(false);
        // now our client-side validation rules block submit, disable
        $("#id_foss_url")[0].setAttribute("class", "");       
        return true;
    }
    function clear_hidden_inputs() {
        var inputs = document.getElementsByTagName('input');
        for(var i=0; i<inputs.length; i++) {
            if(inputs[i].type=="hidden")
                inputs[i].value = "";
        }
    }
    function update_patch_list(src) {
        var findex = src.replace(pfield, "");
        var rlist = document.getElementById(pfield).value;
        var rarray = rlist.split(",");
        rarray[findex] = document.getElementsByName(src)[0].value;
        document.getElementById(pfield).value = rarray.join(",");        
    }
    function get_bom_values() {
        for(var f in bom_fields){
            bom_fields[f] = document.getElementsByName(f)[0].value;
        }    
    }
    function replace_bom_values(row) {
        // called from the modal line-item change dialog
        for(var f in bom_fields){
            var sid = "id_m_" + f;
            var did = f + row;
            var content = document.getElementById(sid).value;
            var src = document.getElementById(sid);
            var dest = document.getElementById(did);
            if (f == "foss_license") {
                var license_select = document.getElementById(sid);
                content = license_select.options[license_select.selectedIndex].text;
            }
            dest.innerHTML = content;
            // file input fields get special treatment
            if (file_fields.indexOf(f) != -1)
                set_extras(did, sid, ['encoded_data', 'data_sizes']);        
        }
        // and the patches
        var sid = "id_m_" + pfield;
        var did = "id_" + pfield + row;
        var src = document.getElementById(sid);
        var dest = document.getElementById(did);
        dest.value = src.value;
        set_extras(did, sid, ['encoded_data', 'data_sizes']);
    }
    function delete_bom_components(id) {
        // nothing is in the database yet, so this is handled a little differently than the other forms
        var t = document.getElementById(id);
        var trows = t.getElementsByTagName('tr');
        var rowcount = trows.length;
        var chk = document.getElementsByName("bomcheck");
        // list index is 0, actual table row is +5 currently (header, component select, input fields, 
        // possibly hidden new license fields, select all/delete)     
        if (typeof chk != 'undefined') {
            if (chk.length) {
                var rowskeep = rowcount - chk.length;
                // work backwords or we miss rows
                for (i = chk.length - 1; i >= 0; i--) {
                    if (chk[i].checked == true) {
                        t.deleteRow(rowskeep + i);
                    }
                }
            }
            document.getElementsByName("selectall")[0].checked = false;
            chk = document.getElementsByName("bomcheck");
            if (chk.length == 0)
                hide_element("bom_editor");
        } else {
            return;
        }
    }
    function add_bom_row(id, mode, index){
        var validated = true;
        for(var f in bom_fields){
            if ((bom_fields[f]) == "" && (f != sfield))
                validated = false;
        }
        // check license as well as general validation rules
        if ($("#id_foss_license")[0].value < 0 || $("#entryform").valid() == false) {
            validated = false;
        }
        // refuse to add unless all required fields are validated       
        if ((mode == "add") && (validated == false)) {       
            alert("Please fill/correct all required component fields.");
            return;
        }

        var tbody = document.getElementById(id).getElementsByTagName("TBODY")[0];
        var row = document.createElement("TR");

        // checkbox for deletes
        var td0 = document.createElement("TD");
        var tcb = document.createElement("input");
        tcb.setAttribute("type", "checkbox");
        tcb.setAttribute("name", "bomcheck");
        var chk = document.getElementsByName("bomcheck");
        var cvalue = 0;        
        if (typeof chk != 'undefined') {
            if (typeof chk.length != 'undefined')
                cvalue = chk.length;
        }
        tcb.setAttribute("value", cvalue);
        td0.appendChild(tcb);
        row.appendChild(td0);

        // icon for editing a line
        var td1 = document.createElement("TD");
        var tdd = document.createElement("div");
        tdd.setAttribute("id", "line-item-modal");
        var tda = document.createElement("a");
        tda.setAttribute("href", "#");
        tda.setAttribute("class", "basic");
        tda.setAttribute("name", "line_item" + cvalue);
        tda.setAttribute("id", cvalue);
        // for some reason, dynamically added modal triggers don't activate the model, use onclick
        tda.setAttribute("onclick", "line_edit_init(" + cvalue + ");");
        var tdi = document.createElement("img");
        tdi.setAttribute("src", "/site_media/images/edit.png");
        tdi.setAttribute("title", "Edit Line Item");
        tda.appendChild(tdi);
        tdd.appendChild(tda);
        td1.appendChild(tdd);
        row.appendChild(td1);

        // all text fields, just loop through input object
        for(var f in bom_fields){
            var td = document.createElement("TD");
            td.setAttribute("valign", "top");
            td.setAttribute("id", f + cvalue);
            if (f == sfield)
                td.setAttribute("colspan", "2");
            var content = bom_fields[f];
            if (f == "foss_license") {
                content = "Loading...";
                var license_id = Number(bom_fields[f]);
                if (license_ids[license_id] == undefined) {
                    license_ids[license_id] = new Array();
                }
                license_ids[license_id].push(cvalue);
                get_license_info(bom_fields[f], function(data) {
                    for (var l in license_ids[data[0]]) {
                        var license_element_id = "foss_license" + license_ids[data[0]][l];
                        document.getElementById(license_element_id).innerHTML = data[1] + " " + data[2];
                    }
                });
                // add an attribute to the table cell for the license_id
                td.setAttribute("license_id", license_id);
            }
            td.appendChild(document.createTextNode(content));
            // file input fields get special treatment, add attributes to the table cell for the encoded data, sizes
            if (file_fields.indexOf(f) != -1) {
                // if there's no text (filename), we don't care about file data
                if (bom_fields[f] != '') {
                    // on a reload, we need to retrieve from the hidden fields, not the inputs
                    if (mode == "add") {
                        var sid = "id_" + f;
                        td.setAttribute("encoded_data", document.getElementById(sid).attributes["encoded_data"].value);
                        td.setAttribute("data_sizes", document.getElementById(sid).attributes["data_sizes"].value);
                    } else {
                        var sid = f + "_data";
                        var fdata = document.getElementById(sid).value.split(",");
                        td.setAttribute("encoded_data", fdata[index]);
                        sid = f + "_sizes";
                        fdata = document.getElementById(sid).value.split(",");
                        td.setAttribute("data_sizes", fdata[index]);
                    }
                } else {
                    td.setAttribute("encoded_data", "");
                    td.setAttribute("data_sizes", "");
                }
            }
            row.appendChild(td);
        }

        // list of patches
        var patch_tag = pfield + cvalue;
        var td9 = document.createElement("TD");
        var ch9 = document.createElement("textarea");
        ch9.setAttribute("type", "textarea");
        ch9.setAttribute("id", "id_" + patch_tag);
        ch9.setAttribute("name", patch_tag);
        ch9.setAttribute("readonly", "true");
        // where we'll store the encoded patch data 
        ch9.setAttribute("encoded_data", "");
        ch9.setAttribute("data_sizes", "");
        td9.appendChild(ch9);   
        row.appendChild(td9);

        // buttons for file selectors and to clear the field
        var td10 = document.createElement("TD");
        td10.setAttribute("align", "center");
        var ch10 = document.createElement("a");
        ch10.setAttribute("href", "#");
        ch10.setAttribute("class", "basic");
        ch10.setAttribute("name", "patch_clear" + cvalue);
        ch10.setAttribute("onclick", onclick="clear_field('id_foss_patches" + cvalue + "');clear_extra('id_foss_patches" + cvalue + "', 'encoded_data');clear_extra('id_foss_patches" + cvalue + "', 'data_sizes');");
        var tdi = document.createElement("img");
        tdi.setAttribute("src", "/site_media/images/edit-delete.png");
        tdi.setAttribute("title", "Clear Patches");
        ch10.appendChild(tdi);
        td10.appendChild(ch10);
        row.appendChild(td10);

        var td11 = document.createElement("TD");
        td11.setAttribute("valign", "top");
        var div11 = document.createElement("div");
        div11.setAttribute("class", "fileinputs");
        var ch11 = document.createElement("input");
        ch11.setAttribute("type", "file");
        ch11.setAttribute("class", "file");
        ch11.setAttribute("multiple", "");
        ch11.setAttribute("id", "id_patch_input_file" + cvalue);
        ch11.setAttribute("onchange", "file_input_to_field('id_patch_input_file" + cvalue + "', 'id_" + patch_tag + "', true);");
        div11.appendChild(ch11);
        var div12 = document.createElement("div");
        div12.setAttribute("class", "fakefile");
        // just for looks
        var ch12 = document.createElement("input");
        ch12.setAttribute("type", "button");
        ch12.setAttribute("class", "bbutton");
        ch12.setAttribute("value", "Select\nPatch(es)");
        div12.appendChild(ch12);
        div11.appendChild(div12);
        td11.appendChild(div11);
        row.appendChild(td11);
        
        tbody.appendChild(row);

        // cleanup the input object
        for(var f in bom_fields){
            bom_fields[f] = "";
        }

        // reset/clean up the input fields
        document.getElementById("id_component_select").selectedIndex = 1;
        select_to_component();
        document.getElementById("id_component_select").selectedIndex = 0;

        // reset license drop-down
        document.getElementById('id_foss_license').selectedIndex = 0;
        
        // show our "select all" controls
        show_none("bom_editor");
    }

    function fill_hidden_fields() {
        var t = document.getElementById("foss_list");
        var trows = t.getElementsByTagName('tr');
        var rowcount = trows.length;
        var chk = document.getElementsByName("bomcheck");
        if (typeof chk != 'undefined') {
            for (i = 0; i < chk.length; i++) {
                var row = chk[i].value;
                for(var f in bom_fields){
                    var did = f + "s";
                    var sid = f + row;
                    var dest = document.getElementById(did);
                    var src = document.getElementById(sid);
                    // license handled differently
                    if (f == "foss_license") {
                        dest.value += src.attributes["license_id"].value + ",";
                    } else {
                        dest.value += src.innerHTML + ",";
                    }
                    // file input fields get special treatment
                    if (file_fields.indexOf(f) != -1) {
                        did = f + "_data"
                        dest = document.getElementById(did);
                        dest.value += src.attributes["encoded_data"].value + ",";
                        did = f + "_sizes"
                        dest = document.getElementById(did);
                        dest.value += src.attributes["data_sizes"].value + ",";
                    }
                }
                // and the patches
                var sid = "id_" + pfield + row;
                var src = document.getElementById(sid);
                var dest = document.getElementById("foss_patches");
                dest.value += src.value + ",";
                dest = document.getElementById("foss_patch_data");
                dest.value += src.attributes["encoded_data"].value + ",";
                dest = document.getElementById("foss_patch_sizes");
                dest.value += src.attributes["data_sizes"].value + ",";                
            }
        }
    }

    function line_edit_fill(row) {
        var old_license_id = "-2";
        document.getElementById('line_item_no').innerHTML = row;
        // walk through the table row and plug the values into the edit form, called when we click the icon, before the form appears
        for(var f in bom_fields){
            var did = "id_m_" + f;
            var sid = f + row;
            var dest = document.getElementById(did);
            var src = document.getElementById(sid);
            if (f == "foss_license") {
                var license_text = src.innerHTML;
                var options = dest.children;
                for (i=0; i<options.length; i++) {
                    if (options.item(i).innerHTML == license_text) {
                        options.item(i).selected = true;
                        old_license_id = options.item(i).value;
                    } else {
                        options.item(i).selected = false;
                    }
                }
            // file input fields get special treatment
            } else if (file_fields.indexOf(f) != -1) {
                set_extras(did, sid, ['encoded_data', 'data_sizes']);
                dest.value = src.innerHTML;
            } else {
                dest.value = src.innerHTML;
            }
        }
        // old license id
        if (Number(old_license_id) >= 0) {
            document.getElementById("old_m_license_id").innerHTML = old_license_id;
        }
        // and the patches
        var did = "id_m_" + pfield;
        var sid = "id_" + pfield + row;
        var dest = document.getElementById(did);
        var src = document.getElementById(sid); 
        dest.value = src.value;
        set_extras(did, sid, ['encoded_data', 'data_sizes']);
    }

    function line_edit_init(row) {
        // FIXME - for some reason, the dynamically added icons never trigger $('#line-item-modal .basic').click
        // so we basically dupe the jQuery code here 
        // (calling $('#line-item-modal .basic').click() directly triggers recursion issues in chrome)
        line_edit_fill(row);
        $('#line-item-modal-content').modal({
             containerCss:{
                 height:450,
                 padding:0,
                 width:680
             }
        });
    }

    function line_validate_change() {
        var validated = true;
        for(var f in bom_fields){
            var src = "id_m_" + f;
            if (document.getElementById(src).value == "" && f != "foss_spdx" && f != "foss_patches")
                validated = false;
        }
        if (document.getElementById("id_m_foss_license").value < 0) {
            validated = false;
        }
        // refuse to submit unless all required fields are validated       
        if (validated == false) {      
            alert("Please fill all required component fields, including the commit message");
        } else {
            // plug the values back into the table row and the hidden field
            var row = document.getElementById('line_item_no').innerHTML;
            replace_bom_values(row);
            // close the modal dialog
            $.modal.close();
        }
    }

    function search_dupes() {
        var filled = true;
        var msg = '';
        var valid = $("#entryform").valid();
        if (valid == false)
            msg += "Please correct highlighted fields\n";
        for(var f in header_fields){
            var src = "id_" + f;
            if (document.getElementById(src).value == "" && f != "contact")
                filled = false;
        }
        // refuse to continue unless all required fields are filled and valid      
        if (filled == false)      
            msg += "Please fill all required header fields";
        if (filled == false || valid == false) {
            alert(msg);
        } else {
            var record = check_for_record();
            if (record == "None") {
                header_disabled(true);
                show_none("foss_list");
                show_none("submit_buttons");
                hide_element("dupe_search");
            } else {
                var answer = confirm("There appears to already be an entry with that company, product, version, release. Would you care to edit that entry instead?")
	            if (answer)
		            window.location = "/barcode/" + record + "/detail/";
            }
        }
    }
    function header_disabled(mode) {
        for(var f in header_fields){
            // leave these fields editable
            if (["website", "contact", "email"].indexOf(f) == -1) {
                var id = "id_" + f;
                document.getElementById(id).disabled = mode;
            }
        }
    }
    function spdx_change(tid, sid) {
        // tid = input field changed, sid = other file select button to disable
        var e = document.getElementById(sid);  
        if (typeof e != 'undefined') {
            if (document.getElementById(tid).value == '') {
                // disable the "other" spdx selector
                e.disabled = false;
                // hide the file selector if it's open
                hide_element("target_select");
            } else {
                e.disabled = true;
                // if we set the top-level one, clear all the line item entries
                if (sid.search("foss") != -1) {
                    var rowcount = document.getElementById("foss_list").getElementsByTagName("TR").length;
                    // there aren't any if there's no checkboxes
                    var chk = document.getElementsByName("bomcheck");
                    if (typeof chk != 'undefined') {
                        rowlimit = chk.length;
                        for (i = 0; i < rowlimit; i++) {
                            cell_id = "foss_spdx" + i;
                            document.getElementById(cell_id).innerHTML = ''
                        }
                    }
                }
            }
        }
    }
    function clear_spdx(tid, sid) {
        clear_value_by_id(tid);
        spdx_change(tid, sid);
    }

    function new_license() {
        $('#bom_new_license').hide();
        var new_license_name = $('#license_name').val();
        var new_license_version = $('#license_version').val();
        var new_license_url = $('#license_url').val();
        var old_license_id = $('#old_license_id').text();
        create_new_license(new_license_name, new_license_version,
                           new_license_url,
            function(new_license_id) {
                select_license('id_foss_license', 'id_foss_license_url',
                               new_license_id, old_license_id);
                $('#old_license_id').text(new_license_id);
                populate_licenses('id_m_foss_license', 'id_m_foss_license_url');
            });
    }

    function new_license_m() {
        $('#new_license_m').hide();
        $('#existing_license_m').show();
        var new_license_name = $('#new_license_name_m').val();
        var new_license_version = $('#new_license_version_m').val();
        var new_license_url = $('#new_license_url_m').val();
        var old_license_id = $('#old_m_license_id').text();
        create_new_license(new_license_name, new_license_version,
                           new_license_url,
            function(new_license_id) {
                select_license('id_m_foss_license', 'id_m_foss_license_url', 
                               new_license_id, old_license_id);
                $('#old_m_license_id').text(new_license_id);
                populate_licenses('id_foss_license', 'id_foss_license_url');
            });
    }
</script>
{% endblock %}

