{% extends "barcode/base.html" %}
{% block header %}
    <!-- tree style ul -->
    <style type="text/css" media="screen">@import "/site_media/css/mktree.css";</style>
    <style type="text/css" media="screen">@import "/site_media/css/records.css";</style>
    <!-- CSS file for modal dialog -->
    <style type="text/css" media="screen">@import "/site_media/css/barcode-modals.css";</style>
    <script type="text/javascript" src="/site_media/js/checklist.js"></script>
    <!-- tree style ul -->
    <script type="text/javascript" src="/site_media/js/mktree.js"></script>
    <!-- used for modal dialog -->
    <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
    <script type='text/javascript' src='/site_media/js/jquery.simplemodal.1.4.1.min.js'></script>
    <script type='text/javascript' src='/site_media/js/barcode-modals.js'></script>
    <script type='text/javascript' src='/site_media/js/history.js'></script>
</head>
{% endblock %}

{% block content %}

{% if error_message %}
    {% autoescape off %}
    <span class="red"><b>{{ error_message }}</b></span>
    {% endautoescape %}
{% endif %}

{% if not rendered_list %}
   <p><b>No records are available.</b></p>
{% else %}
    <br>
    <form name="resultsform" method="post" action="" enctype="multipart/form-data">
    <div class="record_table_header">
    <table border="1">
    {% autoescape off %}{{ colwidths }}{% endautoescape %}
      <tr align="center">
        <td colspan="6"><input type="submit" name="submit" value="Delete Selected Records"
                    onclick="buildlist(this.form,'recordcheck','recordlist')" />
        </td>
      </tr>
      <tr>
        <td></td>
        <th>Release</th>
        <th>Website</th>
        <th>Contact Email</th>
        <th>Contact Name</th>
        <th>Last Updated</th>
      </tr>
    </table>
    </div>
    <div class="record_table">
    <ul class="mktree" id="tree1">
    <!-- just blob out the pre-rendered html - fastest way --> 
    {% for row in rendered_list %}
    {% autoescape off %}{{ row }}{% endautoescape %}
    {% endfor %} 
    </ul>
    </div>
    <input type="hidden", name="recordlist", value="" />
    </form>
    <!-- this is the modal popup content for viewing the history data -->
    {% include "barcode/history.html" %}
{% endif %}
{% endblock %}

{% block scripts %}
<script language="JavaScript">
    function setdefaults() {
    }
</script>
{% endblock %}

