{% extends "barcode/base.html" %}

{% block content %}

<p>
Below are are list of user configurable settings. At a minumum you should set <i>host_site</i> and <i>host_site_in_qrcode</i>, which control whether a hosting site URL gets embedded in the MECARD data of the QR code. <i>host_site</i> also drives the site link on the record detail screen. The default for host_site is <i>{{ host_site }}</i>.
</p>
<p>
<b>Warning:</b> Changing host_site after you've created QR codes will not change the existing code images. 
</p>

{% if info_message %}<p><strong>{{ info_message }}</strong></p>{% endif %}
 
<form name="sysconfigform" method="post" action="" enctype="multipart/form-data">  
<p>
<input type="submit" name="change_search_paths", value="Save Settings" /> 
</p>

<table width = "100%" border="1">
  <tr align="left">
    <th>Name</th>
    <th>Value</th>
    <th>Description</th>
    <th>Last Updated</th>
    <th>User Updated?</th>
  </tr>
{% for record in settings_list %}
  <tr>
    <td>{{ record.name }}</td>
    {% if record.ftype == 'b' %}
    <td>
        <input type="radio" name="{{ record.name }}" value="True" {% if record.value == "True" %} checked {% endif %}> True
        <input type="radio" name="{{ record.name }}" value="False" {% if record.value == "False" %} checked {% endif %}> False</td>
    </td>
    {% else %}
      {% if record.ftype == 'c' %}
        <td>
        {% for name, values in config_choices %}
          {% if name == record.name %}
            <select name="{{ record.name }}">
            {% for value, display in values %}
              {% if value == record.value %}
                <option value="{{ value }}" selected>{{ display }}</option>
              {% else %}
                <option value="{{ value }}">{{ display }}</option>
              {% endif %}
            {% endfor %}
            </select>
          {% endif %}
        {% endfor %}        
        </td>
      {% else %}
        {% if record.ftype == 'n' %}
          <td><input type="input" name="{{ record.name }}" size="10" value="{{ record.value }}"></td>
        {% else %}
          <td><input type="input" name="{{ record.name }}" size="80" value="{{ record.value }}"></td>
        {% endif %}
      {% endif %}
    {% endif %}
    <td>{{ record.descr }}</td>
    <td>{{ record.last_updated|date:"M d, Y H:i:s"  }}</td>
    <td>{{ record.user_updated }}</td>
  </tr> 
{% endfor %}
</table>
</form>

<h2>Editing License List</h2>

<p>The list of licenses, including both licenses included with the tool and
custom licenses, can be edited
<a href="/admin/barcode/license/">here</a>.  To log in, use the user name
"compliance" with password "compliance".</p>

{% endblock %}

{% block scripts %}
<script language="JavaScript">
    function setdefaults() {
    }
</script>
{% endblock %}
